.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
logs/
*.log
.DS_Store
.vscode/
web/static/latest_report.json
.agents/
